{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ '/css/post.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/syntax-highlighting.css' | url }}">
{% endblock %}

{% block content %}
  <article>
    <section id="post-header">

      <h1>{{ title }}</h1>

      <span class="post-date">{{ page.date | readableDate }}</span>

      {% for tag in collections.tagsList %}
    	  {% set tagUrl %}/posts/tag/{{ tag | slugify }}/{% endset %}
        <span class="tag"><a href="{{ tagUrl }}">{{ tag }}</a></span>
      {% endfor %}

    </section>


    <section id="post-content">

      {{ content | safe }}

    </section>
  </article>
{% endblock %}
