{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ '/css/post.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/syntax-highlighting.css' | url }}">
{% endblock %}

{% block content %}
  <article>
    <section id="post-header">

      <h1 id="post-title">{{ title }}</h1>

      <span class="post-date">{{ page.date | readableDate }}</span> | <span class="categ-tag-label">Tags: </span>

      {% for tag in tags %}
    	  {% set tagUrl %}/posts/tag/{{ tag | slugify }}/{% endset %}
          <span class="tag"><a title="{{ tag }} tag" href="{{ tagUrl }}">{{ tag }}</a></span>
      {% endfor %}
          | <span class="categ-tag-label">Under: </span>
     {% for categ in categories %}
          {% set categUrl %}/posts/category/{{ categ | slugify }}/{% endset %}
          <span class="categ"><a title="{{ categ }} Category" href="{{ categUrl }}">{{ categ }}</a></span>
      {% endfor %}

    </section>


    <section class="post-content">

      {{ content | safe }}

    </section>
  </article>
{% endblock %}
