@import url("reset.css");

/* Roboto Slab font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap");

/* Global variables */
:root {
  /* Gruvbox dark */
  --bg: #1d2021;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --fg: #fbf1c7;
  --fg-dim: #bdae93;

  --gray: #928374;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #8f3f71;
  --aqua: #8ec07c;
  --orange: #fe8019;

  --link-color: var(--yellow);
  --link-color-hover: var(--blue);
  /* ******************* */
}
[theme="light"] {
  /* Gruvbox light */
  --bg: #f9f5d7;
  --bg0: #fbf1c7;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --fg: #282828;
  --fg-dim: #665c54;

  --gray: #928374;
  --red: #cc241d;
  --green: #79740e;
  --yellow: #d79921;
  --blue: #076678;
  --purple: #8f3f71;
  --aqua: #427b58;
  --orange: #d65d0e;

  --link-color: var(--blue);
  --link-color-hover: var(--yellow);
  /* ******************* */
}

body {
  width: 100%;
  max-width: 60%;
  padding: 10px 0;
  margin: 0 auto;
  color: var(--fg);
  background-color: var(--bg);
  font-family: "Roboto Slab", serif;
}

nav {
  font-weight: 700;
  margin-bottom: 30px;
}
nav div {
  display: flex;
  justify-content: space-around;
}
nav div span a {
  color: var(--fg);
}
nav div span a:hover {
  color: var(--fg);
  text-decoration: underline 3px solid var(--fg);
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  color: var(--link-color-hover);
}

a.header-anchor {
  display: none;
}

h2 {
  font-size: 2rem;
}

h2:hover a.header-anchor,
h3:hover a.header-anchor,
h4:hover a.header-anchor {
  display: inline;
}

ul {
  padding-right: 40px;
}

.social-links {
  color: var(--aqua);
  font-size: 1.3rem;
  margin-right: 5px;
}
.social-links:hover {
  color: var(--yellow);
}

#site-name {
  color: var(--fg);
  font-weight: 900;
  font-size: 3rem;
  text-decoration: none;
}
#site-name:hover {
  text-decoration: underline solid 5px var(--fg);
}

footer {
  padding: 40px 0;
  text-align: center;
}

.view-more-link {
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--bg);
  background-color: var(--fg-dim);
  padding: 5px;
  margin-bottom: 30px;
}

.post-date {
  color: var(--fg-dim);
}

.contact-list li {
  list-style: none;
  font-size: 1.2rem;
}
.email-img {
  display: inline;
  vertical-align: middle;
}
.contact-list .fa-envelope {
  padding-left: 2px;
  padding-right: 3px;
}
.contact-list .fa-key {
  font-size: 1.1rem;
}
.contact-list .fa-linkedin {
  padding-left: 3px;
  padding-right: 4px;
}

.view-more-link:hover {
  color: var(--bg);
  background-color: var(--fg);
  text-decoration: underline solid 2px var(--bg);
}

.post-card__container .tag a {
  font-size: 0.8rem;
  background-color: var(--bg3);
  padding: 3px;
  color: var(--fg);
}
.post-card__container .tag a:hover {
  background-color: var(--fg);
  color: var(--bg);
}

footer hr {
  margin-bottom: 50px;
  border-width: 3px;
}

@media (max-width: 750px) {
  body {
    max-width: 90%;
  }
}
