@import url("global.css");

li {
  list-style: none;
}

.categs-container,
.tags-container {
  display: flex;
  list-style: none;
}
.categs,
.tags {
  flex-wrap: wrap;
}

.post-tag,
.post-categ {
  margin: 5px;
  padding: 5px;
  line-height: 50px;
  text-decoration: none;
}

.post-categ {
  font-weight: 700;
  font-size: 1rem;
  color: var(--bg);
  background-color: var(--fg-dim);
}

.post-tag {
  font-size: 0.8rem;
  background-color: var(--bg1);
  color: var(--fg);
}

.post-categ:hover,
.post-tag:hover,
.archives-link a:hover {
  background-color: var(--fg);
  color: var(--bg);
  text-decoration: underline solid 2px var(--bg);
}

.posts-container {
  padding-right: 40px;
}

.post-date {
  color: var(--fg-dim);
}

.single-tag {
  background-color: var(--bg1);
  padding: 2px 5px;
}

.archives-link {
  position: relative;
  margin-right: -8px;
  padding: 4px;
}

.archives-link a {
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--bg);
  background-color: var(--fg-dim);
  position: absolute;
  margin-right: 0;
  right: 10px;
}
