@import url("global.css");

h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4 {
  text-align: left;
  margin-top: 30px;
}

p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 2rem;
}

blockquote {
  margin: 10px auto 10px auto;
  background-color: var(--bg0);
  color: var(--fg-dim);
  border-left: var(--fg-dim) solid;
  padding: 10px 20px 10px 20px;
}
blockquote p:last-child {
  margin-bottom: 0;
}

.post-content hr {
  margin: 30px 0;
}

li {
  font-size: 1.2rem;
}

pre[class*="language-"] {
  border: 1px solid var(--bg2);
}

img {
  width: 100%;
}

img,
lite-youtube,
.eleventy-plugin-embed-twitter {
  margin: 20px auto;
}

table {
  width: 50%;
  margin: 20px auto;
  border: 2px solid var(--fg);
  border-collapse: collapse;
}
th,
td {
  border: 1px solid var(--fg);
  border-collapse: collapse;
}
th,
td,
tr {
  padding: 5px;
}
th {
  text-align: center;
}

header h1 {
  margin: 0;
}

#post-header {
  margin-bottom: 20px;
}

#post-title {
  margin-bottom: 0;
}

.post-content {
  text-align: justify;
}

.post-date {
  margin-right: 2px;
  font-size: 0.8rem;
}

.tag a,
.categ a {
  font-family: var(--heading-font);
}
.tag a {
  font-size: 0.8rem;
  margin: 0 2px;
  padding: 2px 5px;
  color: var(--fg);
  text-decoration: none;
  background-color: var(--bg1);
}
.tag a:hover {
  background-color: var(--fg);
  color: var(--bg);
}
.categ-tag-label {
  font-size: 0.8rem;
  color: var(--fg-dim);
}
.categ a {
  font-size: 0.8rem;
  margin: 0 2px;
  padding: 2px 5px;
  color: var(--bg);
  text-decoration: none;
  background-color: var(--fg-dim);
}
.categ a:hover {
  background-color: var(--fg);
  color: var(--bg);
}

.task-list-item {
  list-style: none;
}

blockquote,
.admonition {
  border-left-width: 3px;
}

.admonition.quote,
.quote {
  background-color: var(--bg0);
  border-left: solid var(--bg2);
}

.admonition.note {
  background-color: var(--bg1);
  border-left: solid var(--bg3);
}

.admonition.info {
  background-color: var(--purple);
  border-left: solid var(--aqua);
}

.admonition.warning {
  background-color: var(--red);
  border-left: solid var(--yellow);
}

.admonition.question {
  background-color: var(--blue);
  border-left: solid var(--purple);
}

.quote-title-symbol {
  margin-right: 5px;
  font-size: 1.3rem;
}

.admonition-title,
.quote-title {
  font-family: var(--heading-font);
  font-size: 1.2rem;
  font-weight: 600;
}

.quote-ref {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.admonition,
.quote {
  padding: 10px 10px 10px 20px;
  margin: 10px 0;
}

p.admonition-title {
  margin-bottom: 2px;
}
p.admonition-title:first-letter {
  text-transform: uppercase;
}

.quote-content {
  padding-top: 10px;
  font-size: 1.2rem;
}

.admonition p:last-child {
  margin-bottom: 0;
}

.fa-triangle-exclamation {
  color: #ffff00;
}

@media (max-width: 500px) {
  .MathJax {
    max-width: 50%;
  }
  .MJX-TEX {
    font-size: 4vw;
  }
  h2 mjx-container .MJX-TEX,
  h3 mjx-container .MJX-TEX,
  h4 mjx-container .MJX-TEX {
    font-size: inherit;
  }
}
